@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

/*--------------------*/
.monday {
  position: relative;
}
.monday__gerl {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: -103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1200px) {
  .monday__gerl {
    display: none;
  }
}
.monday__fon {
  background: url(../img/index/grey_bg.png);
}
.monday__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 440px;
  padding: 10px 0px 0px 0px;
}
.monday__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  padding: 60px 0px 0px 0px;
  line-height: 140%;
}
@media (max-width: 1000px) {
  .monday__text {
    padding: 0px 0px 5px 0px;
  }
}
.monday__prace {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../img/index/bg.png);
  max-width: 550px;
  position: relative;
}
@media (max-width: 1020px) {
  .monday__prace {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%;
  }
}

@media (max-width: 1000px) {
  .text-monday {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.text-monday__title {
  font-family: "Russo";
  font-size: 24px;
  font-weight: 700;
  color: rgb(38, 33, 33);
  margin: 0px 0px 30px 0px;
  line-height: 120%;
}
@media (max-width: 1000px) {
  .text-monday__title {
    text-align: center;
    margin: 0px 0px 0px 0px;
    font-size: 18px;
  }
}
.text-monday__text {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  color: #5b4f3c;
}
@media (max-width: 1000px) {
  .text-monday__text {
    display: none;
  }
}

.prace-mondey__title {
  font-family: "Russo";
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 130%;
  letter-spacing: 1.2px;
  margin: 15px 0px 0px 0px;
}
@media (max-width: 1200px) {
  .prace-mondey__title {
    font-size: calc(18px + 12 * (100vw - 375px) / 825);
  }
}
@media (max-width: 375px) {
  .prace-mondey__title {
    font-size: 18px;
  }
}
.prace-mondey__title span {
  color: #fe8d1b;
  text-decoration: underline;
}
.prace-mondey__all-for {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin: 10px 30px 0px 30px;
  border: #fff 1px dashed;
}
.prace-mondey__all-for span {
  color: #fe8d1b;
  font-size: 23px;
  font-weight: 500;
}
.prace-mondey__input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 20px 30px 0px 30px;
}
@media (max-width: 1200px) {
  .prace-mondey__input-block {
    margin: 0 auto;
    padding: 15px 0px 0px 0px;
  }
}
.prace-mondey__text-m2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 14px 10px 0px 0px;
}
.prace-mondey__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-align: end;
  padding: 0px 20px 0px 0px;
  background-color: #442614;
  height: 42px;
  width: 98px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
}
.prace-mondey__m2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 7px 0px 0px 10px;
}
.prace-mondey__today {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0px 30px 0px 30px;
  position: relative;
}
@media (max-width: 1200px) {
  .prace-mondey__today {
    margin: 0 auto;
  }
}
.prace-mondey__today-text {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #fff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0px 30px 5px 0px;
}
@media (max-width: 1000px) {
  .prace-mondey__today-text {
    padding: 0px 10px 5px 0px;
  }
}
.prace-mondey__byn {
  font-family: "Russo";
  font-size: 38px;
  font-weight: 600;
  color: #fe8d1b;
  letter-spacing: 1.3px;
  padding: 10px 0px 0px 0px;
}
@media (max-width: 1200px) {
  .prace-mondey__byn {
    font-size: calc(28px + 10 * (100vw - 375px) / 825);
  }
}
@media (max-width: 375px) {
  .prace-mondey__byn {
    font-size: 28px;
  }
}
.prace-mondey__byn::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 0;
  height: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.517);
}
.prace-mondey__byn span {
  font-size: 26px;
}
@media (max-width: 1200px) {
  .prace-mondey__byn span {
    font-size: calc(20px + 6 * (100vw - 375px) / 825);
  }
}
@media (max-width: 375px) {
  .prace-mondey__byn span {
    font-size: 20px;
  }
}
.prace-mondey__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 30px 30px 0px 0px;
}
@media (max-width: 1200px) {
  .prace-mondey__call {
    margin: 0 auto;
    padding: 30px 0px 0px 0px;
  }
}
.prace-mondey__tel {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
  color: #fe8d1b;
  border-radius: 4px;
  width: 215px;
  height: 52px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(22, 255, 138, 0.663) inset;
          box-shadow: 0px 0px 2px 2px rgba(22, 255, 138, 0.663) inset;
  text-align: end;
  padding: 0px 20px 0px 40px;
  background-color: #fff;
  position: relative;
}
@media (max-width: 700px) {
  .prace-mondey__tel {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0 auto;
    max-width: 300px;
  }
}
.prace-mondey__tel.grey::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 10px;
  background: url(../img/index/grey-tell.png) 0 0/cover no-repeat;
  height: 25px;
  width: 25px;
}
.prace-mondey__tel.green::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 10px;
  background: url(../img/index/green-tell.png) 0 0/cover no-repeat;
  height: 25px;
  width: 25px;
}
.prace-mondey__tel-input {
  margin: 17px 0px 0px 10px;
  width: 150px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
  color: #237430;
  cursor: pointer;
}
@media (max-width: 700px) {
  .prace-mondey__tel-input {
    width: 220px;
    text-align: center;
    margin: 17px 0px 0px 10px;
    font-size: 18px;
  }
}
.prace-mondey__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px 0px 20px;
  margin: 0px 0px 0px 20px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border-radius: 3px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(242, 113, 3)), color-stop(25%, rgb(248, 135, 14)), color-stop(75%, rgb(253, 157, 25)));
  background: -o-linear-gradient(bottom, rgb(242, 113, 3) 0%, rgb(248, 135, 14) 25%, rgb(253, 157, 25) 75%);
  background: linear-gradient(0deg, rgb(242, 113, 3) 0%, rgb(248, 135, 14) 25%, rgb(253, 157, 25) 75%);
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
.prace-mondey__button:hover {
  -webkit-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(242, 121, 3)), color-stop(50%, rgb(247, 162, 13)), color-stop(80%, rgb(253, 208, 24)));
  background: -o-linear-gradient(bottom, rgb(242, 121, 3) 0%, rgb(247, 162, 13) 50%, rgb(253, 208, 24) 80%);
  background: linear-gradient(0deg, rgb(242, 121, 3) 0%, rgb(247, 162, 13) 50%, rgb(253, 208, 24) 80%);
}
@media (max-width: 700px) {
  .prace-mondey__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0 auto;
    max-width: 300px;
    margin: 15px auto 0px auto;
    padding: 15px 0px 15px 0px;
  }
}
.prace-mondey__info {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.59);
  padding: 30px 0px 0px 30px;
}
@media (max-width: 1200px) {
  .prace-mondey__info {
    margin: 0px 20px 0px 20px;
    padding: 25px 0px 25px 0px;
  }
}

.three-icon__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0px 0px 0px;
}
.three-icon__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
}
@media (max-width: 1020px) {
  .three-icon__cart {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 42%;
            flex: 0 1 42%;
  }
}
@media (max-width: 750px) {
  .three-icon__cart {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 400px;
            flex: 0 1 400px;
  }
}
.three-icon__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.three-icon__img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 70px;
  height: 70px;
}
.three-icon__text {
  margin: 0px 0px 0px 15px;
}
.three-icon__title {
  font-family: "Russo";
  font-size: 17px;
  font-weight: 400;
  line-height: 140%;
  color: #5b4f3c;
}
.three-icon__subtitle {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  color: #5b4f3c;
}

.foto-works__title {
  font-family: "Russo";
  font-size: 25px;
  font-weight: 400;
  line-height: 140%;
  color: #fe8d1b;
  text-decoration: underline;
  text-align: center;
  margin: 40px 0px 20px 0px;
}
.foto-works__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.foto-works__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  padding-bottom: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}
@media (max-width: 800px) {
  .foto-works__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-bottom: 70%;
  }
}
.foto-works__img:hover::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.447);
}
.foto-works__img:hover::after {
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  z-index: 3;
  background: url(../img/index/lup.png) 0 0/cover no-repeat;
  height: 50px;
  width: 50px;
}
.foto-works__img img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.box-pic {
  display: none;
  position: fixed;
  z-index: 130;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.723);
  width: 100%;
  height: 100%;
  padding: 10px;
}
.box-pic__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.box-pic__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 5%;
          flex: 0 1 5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px 0px 0px;
}
.box-pic__left img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50px;
}
@media (max-width: 1910px) {
  .box-pic__left img {
    width: calc(22px + 28 * (100vw - 375px) / 1535);
  }
}
@media (max-width: 375px) {
  .box-pic__left img {
    width: 22px;
  }
}
.box-pic__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 90%;
          flex: 0 1 90%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.box-pic__pic {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  height: 100%;
}
.box-pic__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 5%;
          flex: 0 1 5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 10px;
}
.box-pic__right img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50px;
}
@media (max-width: 1910px) {
  .box-pic__right img {
    width: calc(22px + 28 * (100vw - 375px) / 1535);
  }
}
@media (max-width: 375px) {
  .box-pic__right img {
    width: 22px;
  }
}
.box-pic__x {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  background: url(../img/arrow-keys/x.png) 0 0/cover no-repeat;
}
.box-pic__points-slides {
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.points {
  position: relative;
}
.points__body {
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.points__dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 1020px) {
  .points__dot {
    width: 10px;
    height: 10px;
  }
}
.points__white {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
@media (max-width: 1020px) {
  .points__white {
    width: 10px;
    height: 10px;
  }
}

.heartbeat {
  -webkit-animation: heartbeat 7s ease-in-out infinite;
          animation: heartbeat 7s ease-in-out infinite;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  2% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
  }
  5% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  10% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
  }
  15% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  2% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
  }
  5% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  10% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
  }
  15% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.calculation-index {
  padding: 40px 0px 0px 0px;
}
.one-step__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/index/bg.png);
  padding: 0px 60px 0px 60px;
}
@media (max-width: 1020px) {
  .one-step__header {
    padding: 0px 10px 0px 10px;
  }
}
.one-step__finger {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.one-step__finger img {
  -webkit-animation: finger 8s infinite;
          animation: finger 8s infinite;
}
@media (max-width: 1020px) {
  .one-step__finger {
    display: none;
  }
}
.one-step__range {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.one-step__range-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #fe8d1b;
  margin: 10px 0px 10px 0px;
}
@media (max-width: 1020px) {
  .one-step__range-body {
    height: 70px;
    width: 70px;
  }
}
.one-step__range-number {
  font-family: "Roboto";
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  margin: -10px 0px 0px 0px;
}
@media (max-width: 1020px) {
  .one-step__range-number {
    font-size: 35px;
  }
}
.one-step__range-info {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 1020px) {
  .one-step__range-info {
    font-size: 10px;
  }
}
.one-step__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 1020px) {
  .one-step__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
    margin: 0px 0px 0px 20px;
  }
}
@media (max-width: 1910px) {
  .one-step__title {
    font-size: calc(20px + 10 * (100vw - 375px) / 1535);
  }
}
@media (max-width: 375px) {
  .one-step__title {
    font-size: 20px;
  }
}

.select-soffit-type {
  background: url(../img/index/grey_bg.png);
  padding: 0px 20px 20px 20px;
}
.select-soffit-type__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.select-soffit-type__select {
  background-color: #fff;
  margin: 20px 0px 0px 0px;
  padding: 15px 0px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px #6d4d3a solid;
  position: relative;
}
.select-soffit-type__select::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: url(../img/arrow-keys/triangle.png) 0 0/cover no-repeat;
}
.select-soffit-type__select-text {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: #5b4f3c;
}
.select-soffit-type__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border: 2px #6d4d3a solid;
}
.select-soffit-type__line {
  padding: 15px 0px 15px 20px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: #5b4f3c;
  border-bottom: 1px #6d4d3a solid;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.select-soffit-type__line.line-none {
  padding: 0;
  border-bottom: 0px #6d4d3a solid;
  font-size: 0px;
}
.select-soffit-type__line:hover {
  background-color: rgba(68, 38, 20, 0.1254901961);
}

@-webkit-keyframes finger {
  0% {
    -webkit-transform: translate(0, 0) rotate(-20deg);
            transform: translate(0, 0) rotate(-20deg);
  }
  10% {
    -webkit-transform: translate(50px, 0) rotate(0deg);
            transform: translate(50px, 0) rotate(0deg);
  }
  13% {
    -webkit-transform: translate(70px, 0) rotate(0deg);
            transform: translate(70px, 0) rotate(0deg);
  }
  16% {
    -webkit-transform: translate(50px, 0) rotate(0deg);
            transform: translate(50px, 0) rotate(0deg);
  }
  19% {
    -webkit-transform: translate(70px, 0) rotate(0deg);
            transform: translate(70px, 0) rotate(0deg);
  }
  22% {
    -webkit-transform: translate(50px, 0) rotate(0deg);
            transform: translate(50px, 0) rotate(0deg);
  }
  32% {
    -webkit-transform: translate(0, 0) rotate(-20deg);
            transform: translate(0, 0) rotate(-20deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(-20deg);
            transform: translate(0, 0) rotate(-20deg);
  }
}

@keyframes finger {
  0% {
    -webkit-transform: translate(0, 0) rotate(-20deg);
            transform: translate(0, 0) rotate(-20deg);
  }
  10% {
    -webkit-transform: translate(50px, 0) rotate(0deg);
            transform: translate(50px, 0) rotate(0deg);
  }
  13% {
    -webkit-transform: translate(70px, 0) rotate(0deg);
            transform: translate(70px, 0) rotate(0deg);
  }
  16% {
    -webkit-transform: translate(50px, 0) rotate(0deg);
            transform: translate(50px, 0) rotate(0deg);
  }
  19% {
    -webkit-transform: translate(70px, 0) rotate(0deg);
            transform: translate(70px, 0) rotate(0deg);
  }
  22% {
    -webkit-transform: translate(50px, 0) rotate(0deg);
            transform: translate(50px, 0) rotate(0deg);
  }
  32% {
    -webkit-transform: translate(0, 0) rotate(-20deg);
            transform: translate(0, 0) rotate(-20deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(-20deg);
            transform: translate(0, 0) rotate(-20deg);
  }
}
.select-parameters {
  background: url(../img/index/grey_bg.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.select-parameters__body {
  padding: 20px 20px 20px 20px;
  max-width: 800px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.select-parameters__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media (max-width: 760px) {
  .select-parameters__size {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.select-parameters__size-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: #5b4f3c;
}
@media (max-width: 760px) {
  .select-parameters__size-title {
    font-size: 15px;
    margin: 0px 0px 10px 0px;
  }
}
.select-parameters__size-input {
  width: 300px;
  padding: 10px 0px 10px 0px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: #5b4f3c;
  text-align: center;
  border: 1px #6d4d3a solid;
  border-radius: 3px;
  -webkit-box-shadow: #ccc 5px 7px 7px;
          box-shadow: #ccc 5px 7px 7px;
}
@media (max-width: 760px) {
  .select-parameters__size-input {
    width: 80%;
  }
}

.__margin-button-20 {
  margin-bottom: 20px;
}

.select-promotion {
  background: url(../img/index/grey_bg.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.select-promotion__body {
  padding: 20px 20px 0px 20px;
  max-width: 800px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.select-promotion__site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 20px 0px;
}
.select-promotion__radio {
  position: relative;
}
.select-promotion__radio::before {
  position: absolute;
  content: "";
  top: 1px;
  left: -4px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px #6d4d3a solid;
  background-color: #fff;
}
.select-promotion__radio:checked::after {
  position: absolute;
  z-index: 1;
  content: "";
  top: -6px;
  left: -6px;
  height: 30px;
  width: 30px;
  background: url(../img/index/check.png) 0 0/cover no-repeat;
}
.select-promotion__label {
  padding: 0px 0px 0px 20px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 600;
  color: #5b4f3c;
}
.select-promotion__label span {
  font-size: 22px;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Light.woff2") format("woff2"), url("../font/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.woff2") format("woff2"), url("../font/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Medium.woff2") format("woff2"), url("../font/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.woff2") format("woff2"), url("../font/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Russo";
  src: url("../font/RussoOne-Regular.woff2") format("woff2"), url("../font/RussoOne-Regular.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
._top-line-text {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 800px) {
  ._top-line-text {
    font-size: 12px;
  }
}

.top-line {
  display: block;
  background-color: #fe8d1b;
  width: 100%;
  height: 30px;
}
.top-line__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.top-line__city {
  padding: 0px 0px 0px 25px;
  position: relative;
}
.top-line__city::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  background: url(../img/header/map.png) 0 0/cover no-repeat;
  height: 23px;
  width: 23px;
}
@media (max-width: 800px) {
  .top-line__city::before {
    height: 20px;
    width: 20px;
  }
}
.top-line__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-line__mail {
  padding: 0px 20px 0px 30px;
  position: relative;
}
.top-line__mail::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  background: url(../img/header/mail.png) 0 0/cover no-repeat;
  height: 23px;
  width: 23px;
}
@media (max-width: 800px) {
  .top-line__mail {
    display: none;
  }
}
.top-line__time-work {
  padding: 0px 0px 0px 30px;
  position: relative;
}
.top-line__time-work::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  background: url(../img/header/clock.png) 0 0/cover no-repeat;
  height: 23px;
  width: 23px;
}
@media (max-width: 800px) {
  .top-line__time-work::before {
    height: 20px;
    width: 20px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 1240px) {
  .container {
    margin: 0px 20px 0px 20px;
  }
}
@media (max-width: 1140px) {
  .container {
    margin: 0 auto;
    max-width: 1000px;
  }
}
@media (max-width: 1020px) {
  .container {
    margin: 0px 10px 0px 10px;
  }
}

.top-heder__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.top-heder__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-heder__logo img {
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 5px 0px 0px 0px;
}
@media (max-width: 800px) {
  .top-heder__logo img {
    height: calc(70px + 30 * (100vw - 375px) / 425);
  }
}
@media (max-width: 375px) {
  .top-heder__logo img {
    height: 70px;
  }
}
.top-heder__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  padding: 15px 0px 0px 0px;
  color: #5b4f3c;
}
@media (max-width: 1200px) {
  .top-heder__text {
    display: none;
  }
}
.top-heder__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 10px 0px 0px 0px;
}
@media (max-width: 1140px) {
  .top-heder__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
}
.top-heder__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 10px 0px 10px 0px;
  font-family: "Roboto";
  font-size: 23px;
  font-weight: 700;
  color: #5b4f3c;
}
@media (max-width: 1240px) {
  .top-heder__tel {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .top-heder__tel {
    padding: 20px 0px 10px 0px;
    font-size: 18px;
  }
}
.top-heder__tel span {
  position: relative;
  padding: 0px 0px 0px 45px;
}
.top-heder__tel span::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  background: url(../img/header/call.png) 0 0/cover no-repeat;
  height: 32px;
  width: 32px;
}
.top-heder__tel span::after {
  content: "ежедневно с 9:00 до 21:00";
  position: absolute;
  top: -15px;
  right: 0;
  font-size: 12px;
  font-weight: 400;
}
.top-heder__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 10px 0px 0px 0px;
}
@media (max-width: 800px) {
  .top-heder__buttons {
    display: none;
  }
}
.top-heder__call-size {
  position: relative;
}
.top-heder__call-size::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  background: url(../img/header/line.png) 0 0/cover no-repeat;
  height: 27px;
  width: 27px;
}
.top-heder__call-tel {
  margin: 0px 0px 0px 30px;
  position: relative;
}
.top-heder__call-tel::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  background: url(../img/header/tel.png) 0 0/cover no-repeat;
  height: 27px;
  width: 27px;
}
.top-heder__call-calc {
  margin: 0px 0px 0px 30px;
  position: relative;
}
.top-heder__call-calc::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  background: url(../img/header/calc.png) 0 0/cover no-repeat;
  height: 27px;
  width: 27px;
}

.call-text {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  color: #fe8d1b;
  text-decoration: underline;
  padding: 0px 0px 0px 35px;
}
@media (max-width: 1240px) {
  .call-text {
    font-size: 14px;
  }
}

.menu {
  margin: 5px 0px 0px 0px;
}
.menu__fix {
  position: fixed;
  z-index: 120;
  top: 0;
  left: 0;
  margin: 0px 0px 0px 0px;
  width: 100vw;
}
.menu__body {
  position: relative;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
.menu__list *:not(:last-child) {
  margin: 0px 2px 0px 0px;
}
@media (max-width: 1020px) {
  .menu__list *:not(:last-child) {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 1240px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: -150%;
  }
}
.menu__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #6d4d3a;
  padding: 10px 0px 10px 0px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 1240px) {
  .menu__line {
    left: 0;
    font-size: 0;
  }
}
.menu__line.active {
  left: 150%;
}
@media (max-width: 1020px) {
  .menu__line {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 15px 0px 15px 0px;
  }
}
.menu__line:hover {
  background-color: #fe8d1b;
}
.menu__line:hover::before {
  background-color: #6d4d3a;
}
.menu__line::before {
  content: "";
  position: absolute;
  z-index: 121;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #fe8d1b;
}
@media (max-width: 1240px) {
  .menu__line::before {
    top: 0;
    height: 1px;
  }
}
.menu__link {
  font-family: "Roboto";
  font-size: inherit;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 1240px) {
  .menu__link {
    font-size: 17px;
  }
}
@media (max-width: 1020px) {
  .menu__link {
    padding: 0px 0px 0px 50px;
  }
}

.burger {
  display: none;
}
@media (max-width: 1240px) {
  .burger {
    display: block;
  }
}
.burger__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  width: 100%;
  background-color: #6d4d3a;
  position: relative;
}
.burger__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #fe8d1b;
}
.burger__button {
  margin: 4px 0px 0px 0px;
}
.burger__square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 0px 20px;
  height: 44px;
  width: 44px;
  border-radius: 3px;
  background-color: #fe8d1b;
}
.burger__span {
  height: 3px;
  width: 30px;
  background-color: #fff;
  position: relative;
}
.burger__span.active-burger {
  height: 0;
}
.burger__span.active-burger::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
}
.burger__span.active-burger::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0px;
}
.burger__span::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 3px;
  width: 30px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.burger__span::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  height: 3px;
  width: 30px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.burger__text {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin: 0px 20px 0px 0px;
}

@media (max-width: 1020px) {
  .icon-procent {
    position: relative;
  }
  .icon-procent::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 15px;
    background: url(../img/header/procent.png) 0 0/cover no-repeat;
    height: 15px;
    width: 15px;
  }
}

@media (max-width: 1020px) {
  .icon-prace {
    position: relative;
  }
  .icon-prace::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 15px;
    background: url(../img/header/prace.png) 0 0/cover no-repeat;
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 1020px) {
  .icon-catalog {
    position: relative;
  }
  .icon-catalog::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 15px;
    background: url(../img/header/catalog.png) 0 0/cover no-repeat;
    height: 23px;
    width: 23px;
  }
}

@media (max-width: 1020px) {
  .icon-work {
    position: relative;
  }
  .icon-work::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 15px;
    background: url(../img/header/work.png) 0 0/cover no-repeat;
    height: 23px;
    width: 23px;
  }
}

@media (max-width: 1020px) {
  .icon-compani {
    position: relative;
  }
  .icon-compani::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 15px;
    background: url(../img/header/compani.png) 0 0/cover no-repeat;
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 1020px) {
  .icon-cntacts {
    position: relative;
  }
  .icon-cntacts::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 15px;
    background: url(../img/header/contacts.png) 0 0/cover no-repeat;
    height: 25px;
    width: 25px;
  }
}

.footer {
  height: 70px;
  width: 100%;
  background-color: #fe8d1b;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  position: relative;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}