@import './variables.scss';
@import './mixin.scss';

//= .black 
.black {
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    // .black__body
    &__body {
        display: flex;
        justify-content: space-around;
        background-color: $color-yelow;

        padding: 10px;
        @media (max-width: 1000px){
            flex-direction: column;
        }
    }
    &__line{
        position: relative;
        z-index: 5;
        padding: 10px 0px 0px 0px;
        width: 100%;
        background: url('/img/icon/line.jpg');
    }
}


//= .black-left
.black-left {
    flex: 1 0 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    @media (max-width: 1000px){
        order: 2;
    }
    &__box-line {
        position: relative;
        top: 50%;
        left: 0%;
        width: 100px;

    }
    //.black-left__after-1
    &__after-4 {
        //.4
        position: absolute;
        z-index: 1;
        top: -50px;
        left: 150px;
        width: 300px;
        height: 100px;

        background-color: #000;
        transform: rotate(60deg) translate(-50%, -50%);

        @media (max-width: 1000px){
            top: 100px;
            left: 170px;
            width: 200px;
            height: 100px;
        }
    }
    &__after-3 {
        //.3
        position: absolute;
        z-index: 1;
        top: 100px;
        left: -60px;
        width: 500px;
        height: 180px;

        background-color: #000000;
        transform: rotate(60deg) translate(-50%, -50%);

        @media (max-width: 1000px){
            top: 340px;
            left: 10px;
            width: 400px;
            height: 180px;
        }
    }
    &__after-2 {
        //.2
        position: absolute;
        z-index: 2;
        top: 100px;
        left: -250px;
        width: 450px;
        height: 180px;

        background-color: #000000;
        transform:  rotate(60deg) translate(-50%, -50%);

        @media (max-width: 1000px){
            top: 350px;
            left: -200px;
            width: 400px;
            height: 180px;
        }
    }
    &__after-1 {
        //.1
        position: absolute;
        z-index: 1;
        top: 100px;
        left: -325px;
        width: 300px;
        height: 100px;

        background-color: #000;
        transform: rotate(60deg) translate(-50%, -50%);

        @media (max-width: 1000px){
            top: 240px;
            left: -315px;
            width: 200px;
            height: 100px;
        }
    }
    // .black-left__up
    &__up {

        margin: 20px 0px 0px 0px;

        mix-blend-mode: difference;
        @include text_streach (28, 24, $color-yelow, 500);
        text-align: center;

        @media (max-width: 1000px){
            margin: 0px 0px 0px 0px;
        }
    }
    &__balance {
        position: relative;
        z-index: 2;
    }
    // .black-left__procent
    &__procent {
        margin: 10px 0px 10px 0px;

        @include text_streach(55, 40, #fff, 500);

        position: relative;
        z-index: 3;

        &::after {
            content: '0%';
            display: block;
            background-color: $color-red;

            padding: 5px 10px;

            animation: rotate-center 6s ease-in-out infinite both;
        }
    }
    // .black-left__balance-title
    &__balance-title {
        background-color: $color-yelow-dirty;
        padding: 3px 10px;
        @include text_streach(23, 18, #000, 500);
    }
    // .black-left__time
    &__time {
        display: flex;
        justify-content: center;
        gap: 20px;

        margin: 10px 0px 20px 0px;

    }
    &__box {
        
    }
    // .black-left__time-title
    &__time-title {
        @include text_streach(16, 14, $color-yelow-dirty, 400);
        background-color: #000000;
    }
    // .black-left__time-value
    &__time-value {
        @include text_streach (30, 27, #000, 600);
        background-color: $color-yelow-dirty;
        text-align: center;
    }
}

//= ._z2
._z2 {
    position: relative;
    z-index: 2;
}

//= .black-right
.black-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (max-width: 1000px){
        order: 1;
    }
    // .black-right__call-us
    &__call-us {
        mix-blend-mode: difference;
        @include text_streach (25, 20, $color-yelow, 500);
        text-align: center;

        position: relative;
        z-index: 3;
    }
    // .black-right__black
    &__black {
        box-shadow: rgba(0, 0, 0, 0.96) 10px 15px 30px 4px;

        width: 5em;
        margin: 20px 0px 0px 0px;
        text-align: center;

        padding: 5px 10px;
        background-color: #000;

        @include text_streach (50, 35, $color-yelow-dirty, 500, "Russo");
        text-transform: uppercase;

        //transform: rotate(3deg);

        -webkit-animation: jello-horizontal 5s infinite both;
        animation: jello-horizontal 5s infinite both;
    }
    // .black-right__week
    &__week {

        position: relative;
        z-index: 3;

        padding: 3px 12px;
        margin: -7px 0px 10px 0px;

        background: $color-red;
        @include text_streach (25, 20, #fff, 500);
    }
    // .black-right__chance
    &__chance {
        @include text_streach (25, 21, #000, 600);
    }
    &__date {
        @include text_streach (30, 22, $color-red, 500, "Russo");
    }
}


@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
      }
      7% {
        -webkit-transform: scale3d(1.5, 0.5, 1.25);
                transform: scale3d(1.5, .5, 1.25);
      }
      10% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
      }
      13% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
      }
      15% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
      }
      18% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
      }
      21% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
      }
}

@keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    7% {
      -webkit-transform: scale3d(1.5, 0.5, 1.25);
              transform: scale3d(1.5, .5, 1.25);
    }
    10% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    13% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    15% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    18% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    21% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
            
    }
}

._mt-40 {
    margin-top: 40px;
}


@keyframes rotate-center {
    0% {
        content: '0%';
        transform: rotate(0);
    }
    10% {
        content: '10%';
        transform: rotate(360deg);
    }

    20% {
        content: '10%';
        transform: rotate(360deg);
    }
    30% {
        content: '20%';
        transform: rotate(720deg);
    }

    40% {
        content: '20%';
        transform: rotate(720deg);
    }
    50% {
        content: '30%';
        transform: rotate(1080deg);
    }

    53% {
        content: '30%';
        transform: rotate(1080deg) scale(1.05);
    }


    100% {
        content: '30%';
        transform: rotate(1080deg) scale(1.05);
    }
}


