$brown : #6d4d3a;
$orange: #fe8d1b;
$text: #5b4f3c;

.footer {
    margin: 40px 0px 0px 0px;
    width: 100%;
    background: linear-gradient(180deg, rgba(42,43,48,1) 20%, rgba(77,78,85,1) 82%);
}

.footer {
    // .footer__body
    &__body {
    }
    &__items {
        display: flex;
        justify-content: space-around;
        padding: 10px 0px 10px 0px;
        @media (max-width: 1020px){
            flex-wrap: wrap;
        }
    }
    // .footer__logo
    &__logo {
        flex: 0 1 15%;
        //height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 760px){
            flex: 0 1 40%;
            margin: 0px 0px 10px 0px;
        }
        & img {
            object-fit: contain;
            height: 100px;
            width: 100%;
        }
    }
    &__icons {
        flex: 0 1 20%;
        justify-content: center;
        display: flex;
        gap: 0 10px;
        padding: 5px;
    }
    &__icon {
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.1);
        }
        & img {
            object-fit: contain;
            width: 50px;
            height: 100%;
        }
    }
    // .footer__info
    &__info {
        flex: 0 1 35%;
        padding: 5px;
        @media (max-width: 1020px){
            flex: 0 1 80%;
            display: none;
        }
    }
    // .footer__info-title
    &__info-title {
        font-family: "Roboto";
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        text-decoration: underline;
        margin: 0px 0px 10px 0px;
    }
    // .footer__info-text
    &__info-text {
        font-family: "Roboto";
        font-size: 15px;
        font-weight: 400;
        color: #fff;
    }
    // .footer__call
    &__call {
        flex: 0 1 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 20px 0px 20px;

        @media (max-width: 760px){
            flex: 0 1 80%;
            margin: 0px 0px 20px 0px;
            align-items: center;
        }
    }
    // .footer__call-email
    &__call-email {
        @include text_streach(20, 17, #fff);

        padding: 0px 0px 0px 40px;
        margin: 0px 0px 10px 0px;

        position: relative;

        @media (max-width: 760px){
            margin: 0px 0px 20px 0px;
        }

        &::before {
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            height: 30px;
            width: 30px;
            background: url(../img/footer/mail.png) 0 0 / cover no-repeat;
        }
    }
    // .footer__call-tel
    &__call-tel {
        cursor: pointer;
        font-family: "Roboto";
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        padding: 0px 0px 0px 40px;
        text-decoration: none;
        transform: translate(-26%, 0);
        position: relative;
        @media (max-width: 760px){
            transform: translate( 0, 0);
        }
        & a {
            text-decoration: none;
            color: #fff;
        }
        &::before {
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            height: 30px;
            width: 30px;
            background: url(../img/footer/tel.png) 0 0 / cover no-repeat;
        }
    }
}

.rotate-scale-up {
	-webkit-animation: rotate-scale-up 0.65s linear both;
	animation: rotate-scale-up 0.65s linear both;
}

@-webkit-keyframes rotate-scale-up {
0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
}
50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
}
100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
}
}
@keyframes rotate-scale-up {
0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
}
50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
}
100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
}
}

