$brown : #6d4d3a;
$orange: #fe8d1b;
$text: #5b4f3c;

.monday {
    position: relative;
    // .monday__fon
    &__gerl {
        position: absolute;
        z-index: 100;
        bottom: 0;
        left: -87px;
        height: 420px;
        display: flex;
        @media (max-width: 1200px){
            display: none;
        }
    }
    &__fon {
        background:url(../img/index/grey_bg.png);
    }
    // .monday__body
    &__body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: 440px;
        padding: 10px 0px 0px 0px;
    }
    // .monday__text
    &__text {
        flex: 0 1 40%;
        padding: 60px 0px 0px 0px;
        line-height: 140%;
        @media (max-width: 1020px){
            padding: 0px 0px 5px 0px;
        }
    }
    // .monday__prace
    &__prace {
        flex: 0 1 60%;
        display: flex;
        flex-direction: column;
        background: url(../img/index/bg.png);
        max-width: 550px;
        position: relative;
        @media (max-width: 1020px){
            flex: 0 1 100%;
            max-width: 100%;
        }
    }
}

.ruler {
    position: absolute;
    top: -28px;
    left: 0px;
    width: 180px;
    height: auto;
    animation: gomel infinite 15s;
    @media (max-width: 1020px){
        top: -24px;
    }
}
@media (min-width: 1150px){
    @keyframes gomel {
        0% {
            transform: translate(0, 0);
        }
        8% {
            transform: translate(250px, 0);
        }
        16% {
            transform: translate(0, 0);
        }
        24% {
            transform: translate(0, 53px) rotate(180deg);
        }
        32% {
            transform: translate(250px, 53px) rotate(180deg);
        }
        40% {
            transform: translate(250px, 53px) rotate(180deg);
        }
        48% {
            transform: translate(0, 53px) rotate(180deg);
        }
        56% {
            transform: translate(0, 0) rotate(0deg);
        }
    }
}
@media (max-width: 1149px){
    @media (min-width: 1021px){
        @keyframes gomel {
            0% {
                transform: translate(0, 0);
            }
            8% {
                transform: translate(150px, 0);
            }
            16% {
                transform: translate(0, 0);
            }
            24% {
                transform: translate(0, 85px) rotate(180deg);
            }
            32% {
                transform: translate(40px, 85px) rotate(180deg);
            }
            40% {
                transform: translate(40px, 85px) rotate(180deg);
            }
            48% {
                transform: translate(0, 85px) rotate(180deg);
            }
            56% {
                transform: translate(0, 0) rotate(0deg);
            }
        }
    }
}
@media (max-width: 1020px){
    @keyframes gomel {
        0% {
            transform: translate(0, 0);
        }
        8% {
            transform: translate(180px, 0);
        }
        16% {
            transform: translate(0, 0);
        }
        24% {
            transform: translate(0, 46px) rotate(180deg);
        }
        32% {
            transform: translate(180px, 46px) rotate(180deg);
        }
        40% {
            transform: translate(180px, 46px) rotate(180deg);
        }
        48% {
            transform: translate(0, 46px) rotate(180deg);
        }
        56% {
            transform: translate(0, 0) rotate(0deg);
        }
    }
}


.text-monday {
    @media (max-width: 1020px){
        width: 100%;
        flex: 0 1 100%;
    }
    // .text-monday__title
    &__title {
        font-family: "Russo";
        font-size: 24px;
        font-weight: 700;
        color:rgb(38, 33, 33);
        margin:0px 0px 30px 0px;
        line-height: 120%;
        & span {
            position: relative;
            z-index: 1;
        }
        @media (max-width: 1020px){
            text-align: center;
            margin: 20px 0px 20px 0px;
            font-size: 20px;
        }
    }
    // .text-monday__text
    &__text {
        font-family: "Roboto";
        font-size: 17px;
        font-weight: 400;
        color: $text;
        @media (max-width: 1020px){
            display: none;
        }
    }
}
.prace-mondey {
    // .prace-mondey__title
    &__title {
        font-family: "Russo";
        font-size: 30px;
        font-weight: 700;
        color:#fff;
        text-align: center;
        line-height: 130%;
        letter-spacing: 1.2px;
        margin: 15px 0px 0px 0px;
        @media (max-width: 1200px){
            font-size: calc(18px + 12 * (100vw - 375px) / 825);
        }
        @media (max-width: 375px){
            font-size: 18px;
        }
        & span {
            color: $orange;
            text-decoration: underline;
        }
    }
    // .prace-mondey__all-for
    &__all-for {
        font-family: "Roboto";
        font-size: 20px;
        font-weight: 400;
        color:#fff;
        text-align: center;
        padding: 10px 10px 10px 10px;
        margin:10px 30px 0px 30px;
        border: #fff 1px dashed;
        & span {
            color: $orange;
            font-size: 23px;
            font-weight: 500;
        }
    }
    // .prace-mondey__input-block
    &__input-block {
        display: flex;
        justify-content: center;
        margin: 20px 30px 0px 30px;
        @media (max-width: 1200px){
            margin: 0 auto;
            padding: 15px 0px 0px 0px;
        }
    }
    // .prace-mondey__text-m2
    &__text-m2 {
        flex: 0 1 60%;
        display: flex;
        justify-content: end;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 400;
        color:#fff;
        padding: 14px 10px 0px 0px;
        @media (max-width: 1200px){
            flex: 0 1 72%;
        }
    }
    // .prace-mondey__input
    &__input {
        flex: 0 1 20%;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 500;
        color:#fff;
        text-align: end;
        padding: 0px 20px 0px 0px;
        background-color: #442614;
        height: 42px;
        width: 98px;
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
        @media (max-width: 1200px){
            flex: 0 1 8%;
            width: 90px;
        }
    }
    // .prace-mondey__m2
    &__m2 {
        flex: 0 1 20%;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 600;
        color:#fff;
        padding: 7px 0px 0px 10px;
        @media (max-width: 1200px){
            flex: 0 1 10%;
        }
    }
    // .prace-mondey__today
    &__today {
        display: flex;
        justify-content: center;
        margin:0px 30px 0px 30px;
        position: relative;
        @media (max-width: 1200px){
            margin: 0 auto;
        }
    }
    // .prace-mondey__today-text
    &__today-text {
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1.2px;
        color:#fff;
        align-self: flex-end;
        padding: 0px 30px 5px 0px;
        @media (max-width: 1000px){
            padding: 0px 10px 5px 0px;
        }
    }
    // .prace-mondey__byn
    &__byn {
        font-family: "Russo";
        font-size: 38px;
        font-weight: 600;
        color:$orange;
        letter-spacing: 1.3px;
        padding: 10px 0px 0px 0px;
        @media (max-width: 1200px){
            font-size: calc(28px + 10 * (100vw - 375px) / 825);
        }
        @media (max-width: 375px){
            font-size: 28px;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            z-index: 0;
            height: 1;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.517);
        }
        & span {
            font-size: 26px;
            @media (max-width: 1200px){
                font-size: calc(20px + 6 * (100vw - 375px) / 825);
            }
            @media (max-width: 375px){
                font-size: 20px;
            }
        }
    }
    // .prace-mondey__call
    &__call {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        margin: 30px 30px 0px 0px;
        @media (max-width: 1200px){
            margin: 0 auto;
            padding: 30px 0px 0px 0px;
        }
    }
    // .prace-mondey__tel
    &__tel {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 15px;
        color:$orange;
        border-radius: 4px;
        width: 215px;
        height: 52px;
        box-shadow: 0px 0px 2px 2px rgba(22, 255, 138, 0.663) inset;
        text-align: end;
        padding: 4px 10px 4px 40px;
        background-color: #fff;
        @media (max-width: 700px){
            flex: 0 1 100%;
            margin: 0 auto; 
            max-width: 300px;
        }
        position: relative;
        &.grey::before {
            content: "";
            position: absolute;
            top: 15px;
            left: 10px;
            background: url(../img/index/grey-tell.png) 0 0 / cover no-repeat;
            height: 25px;
            width: 25px;
        }
        &.green::before {
            content: "";
            position: absolute;
            top: 15px;
            left: 10px;
            background: url(../img/index/green-tell.png) 0 0 / cover no-repeat;
            height: 25px;
            width: 25px;
        }
    }
    //.prace-mondey__tel-input
    &__tel-input {
        padding: 0px 0px 0px 10px;
        width: 100%;
        height: 100%;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 15px;
        color: #237430;
        cursor: pointer;
        @media (max-width: 700px){
            width: 220px;
            text-align: center;
            font-size: 18px;
        }
    }
    // .prace-mondey__button
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 20px 15px 20px;
        margin:0px 0px 0px 20px;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        border-radius: 3px;
        background: linear-gradient(0deg, rgba(242,113,3,1) 0%, rgba(248,135,14,1) 25%, rgba(253,157,25,1) 75%); 
        text-transform: uppercase;
        transition: all 0.5s ease-out 0s;
        cursor: pointer;
        &:hover {
            transition: all 0.5s ease-out 0s;
            background: linear-gradient(0deg, rgba(242,121,3,1) 0%, rgba(247,162,13,1) 50%, rgba(253,208,24,1) 80%); 
        }
        @media (max-width: 700px){
            flex: 0 1 100%;
            margin: 0 auto; 
            max-width: 300px;
            margin: 15px auto 0px auto;
            padding: 15px 0px 15px 0px;
        }
    }
    // .prace-mondey__info
    &__info {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 13px;
        line-height: 140%;
        color: rgba(255, 255, 255, 0.59);
        padding: 30px 0px 0px 30px;
        text-align: center;
        @media (max-width: 1200px){
            margin: 0px 20px 0px 20px;
            padding: 25px 0px 25px 0px;
        }
    }
}

.three-icon {
    // .three-icon__body
    &__body {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        margin: 40px 0px 0px 0px;
    }
    // .three-icon__cart
    &__cart {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 32%;
        @media (max-width: 1020px){
            flex: 0 1 42%;
        }
        @media (max-width: 750px){
            flex: 0 1 400px;
        }
    }
    // .three-icon__img
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img img{
        object-fit: contain;
        width: 70px;
        height: 70px;
    }
    // .three-icon__text
    &__text {
        margin: 0px 0px 0px 15px;
    }
    // .three-icon__title
    &__title {
        font-family: "Russo";
        font-size: 17px;
        font-weight: 400;
        line-height: 140%;
        color: $text;
    }
    // .three-icon__subtitle
    &__subtitle {
        font-family: "Roboto";
        font-size: 17px;
        font-weight: 400;
        color: $text;
    }
}

.foto-works {
    // .foto-works__title
    &__title {
        font-family: "Russo";
        font-size: 25px;
        font-weight: 400;
        line-height: 140%;
        color: $orange;
        text-decoration: underline;
        text-align: center;
        margin: 40px 0px 20px 0px;
    }
    // .foto-works__body
    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;
    }
    // .foto-works__img
    &__img {
        flex: 0 1 32%;
        padding-bottom: 32%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        @media (max-width: 800px){
            flex: 0 1 100%;
            padding-bottom: 70%;
        }
        @media (min-width: 800px){
            &:hover::before {
                content: "";
                top: 0;
                left: 0;
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.447);
            }
            &:hover::after {
                content: "";
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                z-index: 3;
                background: url(../img/index/lup.png) 0 0 / cover no-repeat;
                height: 50px;
                width: 50px;
            }
        }
    }
    &__img img{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.box-pic {
    display: none;
    position: fixed;
    z-index: 130;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.723);
    width: 100%;
    height: 100%;
    padding: 10px;
    // .box-pic__body
    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    // .box-pic__left
    &__left {
        flex: 0 1 5%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 10px 0px 0px;
        & img {
            object-fit: contain;
            width: 50px;
            @media (max-width: 1910px){
                width: calc(22px + 28 * (100vw - 375px) / 1535);
            }
            @media (max-width: 375px){
                width: 22px;
            }
        }
    }
    // .box-pic__img
    &__img {
        flex: 0 1 90%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__pic {
        object-fit: contain;
        max-width: 100%;
        height: 100%;
    }
    // .box-pic__right
    &__right {
        flex: 0 1 5%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 0px 0px 10px;
        & img {
            object-fit: contain;
            width: 50px;
            @media (max-width: 1910px){
                width: calc(22px + 28 * (100vw - 375px) / 1535);
            }
            @media (max-width: 375px){
                width: 22px;
            }
        }
    }
    &__x {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 25px;
        height: 25px;
        background: url(../img/arrow-keys/x.png) 0 0 / cover no-repeat;
    }
    &__points-slides {
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.points {
    position: relative;
    &__body {
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        gap: 10px;
    }
    &__dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.4);
        @media (max-width: 1020px){
            width: 10px;
            height: 10px;
        }
    }
    &__white {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255);
        @media (max-width: 1020px){
            width: 10px;
            height: 10px;
        }
    }
}

.heartbeat {
	animation: heartbeat 7s ease-in-out infinite;
}

@keyframes heartbeat {
    0% {
            transform: scale(1);
            transform-origin: center center;
    }
    2% {
              transform: scale(0.91);
    }
    5% {
              transform: scale(0.98);
    }
    10% {
              transform: scale(0.87);
    }
    15% {
              transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.calculation-index {
    padding: 40px 0px 0px 0px;
    // .calculation-index__body
    &__body {
    }
}

.rules-length {
    position: absolute;
    z-index: 10;
    top: -20px;
    left: 0;
    height: 50px;
    width: auto;
}
.rules-body {
    position: absolute;
    z-index: 11;
    top: -30px;
    left: 5px;
    height: 60px;
    width: auto;
}

.one-step_padding {
    padding: 30px 0px 0px 0px;
}

.one-step {
    position: relative;
    // .one-step__header
    &__header {
        display: flex;
        background: url(../img/index/bg.png);
        padding: 0px 60px 0px 60px;
        @media (max-width: 1020px){
            padding: 0px 10px 0px 10px;
        }
    }
    // .one-step__finger
    &__finger {
        flex: 0 1 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
            animation: finger 8s infinite;
        }
        @media (max-width: 1020px){
            display: none;
        }
    }
    // .one-step__range
    &__range {
        flex: 0 1 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__range-body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: linear-gradient(312deg, rgba(227,47,47,1) 8%, rgba(247,162,13,1) 48%, rgba(227,66,45,1) 88%); 
        margin: 10px 0px 10px 0px;
        @media (max-width: 1020px){
            height: 70px;
            width: 70px;
        } 
    }
    // .one-step__range-number
    &__range-number {
        font-family: "Roboto";
        font-size: 45px;
        font-weight: 700;
        color:#fff;
        margin: -10px 0px 0px 0px;
        @media (max-width: 1020px){
            font-size: 35px;
        } 
    }
    // .one-step__range-info
    &__range-info {
        font-family: "Roboto";
        font-size: 12px;
        font-weight: 400;
        color:#fff;
        @media (max-width: 1020px){
            font-size: 10px;
        } 
    }
    // .one-step__title
    &__title {
        flex: 0 1 70%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: "Roboto";
        font-size: 30px;
        font-weight: 700;
        line-height: 130%;
        color:#fff;
        @media (max-width: 1020px){
            flex: 0 1 80%;
            margin:0px 0px 0px 20px;
        }
        @media (max-width: 1910px){
            font-size: calc(20px + 10 * (100vw - 375px) / 1535);
        }
        @media (max-width: 375px){
            font-size: 20px;
        }
    }
}

.select-soffit-type {
    background: url(../img/index/grey_bg.png);
    padding: 0px 20px 20px 20px;
    // .select-soffit-type__body
    &__body {
        display: flex;
        flex-direction: column;
    }
    // .select-soffit-type__select
    &__select {
        background-color: #fff;
        margin: 20px 0px 0px 0px;
        padding: 15px 0px 15px 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 2px $brown solid;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 7px;
            right: 20px;
            width: 30px;
            height: 30px;
            background: url(../img/arrow-keys/triangle.png) 0 0 / cover no-repeat;
        }
    }
    // .select-soffit-type__select-text
    &__select-text {
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 500;
        color: $text;
    }
    // .select-soffit-type__list
    &__list {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 2px $brown solid;
    }
    // .select-soffit-type__line
    &__line {
        padding: 15px 0px 15px 20px;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 500;
        color: $text;
        border-bottom: 1px $brown solid;
        transition: all 0.3s ease;
        &.line-none {
            padding: 0;
            border-bottom: 0px $brown solid;
            font-size: 0px;
        }
        &:hover {
            background-color: #44261420;
        }
    }
}

@keyframes like {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes finger {
    0% {
        transform: translate(0, 0) rotate(-20deg);
    }
    10% {
        transform: translate(50px, 0) rotate(0deg);
    }
    13% {
        transform: translate(70px, 0) rotate(0deg);
    }
    16% {
        transform: translate(50px, 0) rotate(0deg);
    }
    19% {
        transform: translate(70px, 0) rotate(0deg);
    }
    22% {
        transform: translate(50px, 0) rotate(0deg);
    }
    32% {
        transform: translate(0, 0) rotate(-20deg);
    }
    100% {
        transform: translate(0, 0) rotate(-20deg);
    }
}

.select-parameters {
    background: url(../img/index/grey_bg.png);
    display: flex;
    justify-content: center;
    // .select-parameters__body
    &__body {
        padding: 20px 20px 20px 20px;
        max-width: 800px;
        flex: 1 1 100%;
    }
    // .select-parameters__size
    &__size {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media (max-width: 760px){
            flex-direction: column;
        }
    }
    // .select-parameters__size-title
    &__size-title {
        display: flex;
        align-items: center;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 500;
        color: $text;
        @media (max-width: 760px){
            font-size: 15px;
            margin:0px 0px 10px 0px;
        }
    }
    // .select-parameters__size-input
    &__size-input {
        width: 300px;
        padding: 10px 0px 10px 0px;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 500;
        color: $text;
        text-align: center;
        border: 1px $brown solid;
        border-radius: 3px;
        box-shadow: rgb(172, 172, 172) 7px 8px 7px;
        @media (max-width: 760px){
            width: 80%;
        }
    }
}

.__margin-button-20 {
    margin-bottom: 20px;
}

.select-promotion {
    background: url(../img/index/grey_bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    // .select-promotion__body
    &__body {
        padding: 20px 20px 0px 20px;
        max-width: 800px;
        flex: 1 1 100%;
    }
    // .select-promotion__site
    &__site {
        display: flex;
        margin:0px 0px 20px 0px;
    }
    // .select-promotion__radio
    &__radio {
        display: none;
        &:checked + .select-promotion__label::after {
            position: absolute;
            z-index: 1;
            content: "";
            top: -8px;
            left: -8px;
            height: 33px;
            width: 33px;
            background: url(../img/index/check.png) 0 0 / cover no-repeat;
        }
    }
    // .select-promotion__label
    &__label {
        padding: 0px 0px 0px 40px;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 600;
        color: $text;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            top: 0px;
            left: -4px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border: 1px $brown solid;
            background-color: #fff;
            box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 50%) inset;
        }
        & span {
            font-size: 22px;
        }
    }
}

.money-calc {
    background: url(../img/index/grey_bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // .money-calc__body
    &__body {
        padding: 20px 20px 20px 20px;
        width: 100%;
        display: none;
        justify-content: center;
    }
    &__body-row {
        max-width: 800px;
        flex: 1 1 100%;
        display: flex;
        justify-content: space-between;
        
        @media (max-width: 1200px){
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    // .money-calc__text
    &__text {
        font-family: "Roboto";
        font-size: 24px;
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        color: rgb(33, 144, 77);
        flex: 0 1 auto;
        padding: 0px 10px 0px 0px;
        @media (max-width: 1020px){
            flex: 0 1 90%;
            display: flex;
            justify-content: center;
            padding: 0px 0px 10px 0px;
            font-size: 20px;
        }
        @media (max-width: 760px){
            font-size: 18px;
        }
    }
    // .money-calc__dot

    &__dot {
        height: 100%;
        flex: 1 1 auto;
        border-bottom: #237430 2px dotted;
        @media (max-width: 1020px){
            display: none;
        }
    }

    // .money-calc__cash

    &__cash {
        flex: 0 1 auto;
        font-family: "Roboto";
        font-size: 24px;
        font-weight: 500;
        color: rgb(202, 71, 54);
        @media (max-width: 1020px){
            flex: 0 1 90%;
            display: flex;
            justify-content: center;
            font-size: 25px;
        }
    }
    &__error {
        display: none;
        font-family: "Russo";
        font-size: 22px;
        color: rgb(202, 71, 54);
        text-align: center;
    }

    // .money-calc__button

    &__button {
        margin: 20px 0px 20px 0px; 
    }

    // .money-calc__button-body

    &__button-body {
        font-family: "Roboto";
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        padding: 15px 40px 15px 40px;
        background: rgb(227,47,47);
        background: linear-gradient(0deg, rgba(227,47,47,1) 8%, rgba(247,162,13,1) 48%, rgba(227,66,45,1) 88%); 
        border-radius: 7px;
        box-shadow: rgb(172, 172, 172) 7px 8px 7px;
        cursor: pointer;
        &:active {
            box-shadow: rgb(172, 172, 172) 5px 5px 3px;
            transform: translate(0, 4px);
        }
    }
}

.price-example {
    margin: 40px auto 0 auto;
    max-width: 1240px;
    // .price-example__title
    &__title {
        font-family: "Russo";
        font-size: 24px;
        color: $text;
        text-align: center;
        margin: 0px 0px 20px 0px;
    }
    // .price-example__body
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        margin: 0px 0px 20px 0px;
    }
}

.example-block {
    flex: 1 1 100%;
    // .example-block__body
    &__body {
        display: flex;
        padding: 0px 20px 0px 20px;
        @media (max-width: 1050px){
            flex-wrap: wrap;
        }
    }
    // .example-block__img
    &__img {
        flex: 0 1 30%;
        padding-bottom: 20%;
        //border: #6d4d3a79 1px solid;
        overflow: hidden;
        position: relative;
        @media (max-width: 1050px){
            flex: 0 1 51%;
            padding: 0px 0px 30% 0px;
            margin: 0px auto -30px auto;
        }
        @media (max-width: 800px){
            flex: 0 1 85%;
            padding: 0px 0px 50% 0px;
        }
        & img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    // .example-block__info
    &__info {
        flex: 0 1 45%;
        border: #6d4d3a79 1px solid;
        @media (max-width: 1050px){
            flex: 0 1 50%;
            padding: 40px 0px 0px 0px;
        }
        @media (max-width: 800px){
            display: none;
        }
    }
    // .example-block__title
    &__title {
        font-family: "Russo";
        font-size: 18px;
        color: $brown;
        line-height: 130%;
        text-align: center;
        padding: 10px 0px 20px 10px;
    }
    // .example-block__text
    &__text {
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 400;
        color: $text;
        line-height: 160%;
        padding: 0px 0px 0px 10px;
        @media (max-width: 1050px){
            font-size: 16px;
        }
    }
    // .example-block__price
    &__price {
        flex: 0 1 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: #6d4d3a79 1px solid;
        @media (max-width: 1050px){
            flex: 0 1 50%;
            padding: 40px 0px 0px 0px;
        }
        @media (max-width: 800px){
            flex: 0 1 100%;
            margin: 0px auto 0px auto;
            border: #6d4d3a79 3px solid;
        }
    }
    &__title-price {
        display: none;
        font-family: "Russo";
        font-size: 20px;
        color: $brown;
        line-height: 130%;
        text-align: center;
        padding: 10px 0px 10px 0px;
        @media (max-width: 800px){
            display: block;
            font-size: calc(16px + 4 * (100vw - 375px) / 425);
        }
        @media (max-width: 375px){
            font-size: 14px;
        }
    }
    // .example-block__cash
    &__cash {
        font-family: "Russo";
        font-size: 28px;
        font-weight: 500;
        color: rgb(79, 146, 53);
        text-align: center;
        margin: 10px 0px 10px 0px;
    }
    // .example-block__actual
    &__actual {
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 400;
        color: $text;
        text-align: center;
        margin:0px 0px 30px 0px;
    }
    // .example-block__case-one
    &__case {
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 500;
        color: $text;
        text-align: center;
        margin:0px 0px 20px 0px;
        & span {
            padding: 0px 0px 0px 40px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: -4px;
                left: 0px;
                height: 30px;
                width: 30px;
                background: url(../img/index/check-tow.png) 0 0 / cover no-repeat;
            }
        }
    }
    // .example-block__button
    &__button {
        display: flex;
        justify-content: center;
        margin: 10px 0px 20px 0px;
    }
    // .example-block__button-body
    &__button-body {
        background: linear-gradient(312deg, rgba(227,47,47,1) 8%, rgba(247,162,13,1) 48%, rgba(227,66,45,1) 88%); 
        padding: 12px 40px 12px 40px;
        text-align: center;
        font-family: "Russo";
        font-size: 20px;
        color: #fff;
        letter-spacing: 1.2px;
        border: rgba(255,135,23,1) 2px solid;
        border-radius: 3px;
        cursor: pointer;
    }
}

.order-call {
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    // .order-call__body
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 650px;
        background: url(../img/arrow-keys/fon.jpg) 0 0 / cover no-repeat;
        position: relative;
        @media (max-width: 760px){
            width: 350px;
            height: 620px;
        }
    }
    &__x {
        position: absolute;
        top: -40px;
        right: -40px;
        height: 30px;
        width: 30px;
        @media (max-width: 760px){
            top: 10px;
            right: 10px;
        }
        & img {
            object-fit: cover;
            height: 30px;
            width: 30px;
        }
    }
    &__logo {
        width: 45%;
        height: 120px;
        position: relative;
        & img {
            position: absolute;
            top: -20px;
            left: 0;
            object-fit: cover;
            width: 100%;
            @media (max-width: 760px){
                top: 20px;
            }
        }
    }
    // .order-call__title
    &__title {
        font-family: "Russo";
        font-size: 28px;
        text-decoration: underline;
        color: #fff;
        margin: 0px 0px 20px 0px;
        background-color: $orange;
        padding: 10px 20px 10px 20px;
    }
    // .order-call__text
    &__text {
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 400;
        color: $brown;
        text-align: center;
        line-height: 140%;
        padding: 0px 20px 0px 20px;
        margin: 0px 0px 20px 0px;
    }
    // .order-call__form
    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    // .order-call__name
    &__name {
        width: 60%;
        border: #fe8d1b 2px solid;
        padding: 10px 0px 10px 10px;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 500;
        color: $text;
        margin: 0px 0px 20px 0px;
        @media (max-width: 760px){
            width: 80%;
        }
    }
    &__tel-div {
        width: 60%;
        position: relative;
        @media (max-width: 760px){
            width: 80%;
        }
    }
    // .order-call__tel
    &__tel {
        width: 100%;
        border: #fe8d1b 2px solid;
        padding: 10px 0px 10px 10px;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 500;
        color: $text;
        margin: 0px 0px 40px 0px;
        @media (max-width: 760px){
            width: 100%;
        }
    }
    // .order-call__button
    &__button {
        width: 60%;
        font-family: "Roboto";
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        padding: 10px 40px 10px 40px;
        background: linear-gradient(312deg, rgba(227,47,47,1) 8%, rgba(247,162,13,1) 48%, rgba(227,66,45,1) 88%);
        margin: 0px 0px 20px 0px;
        box-shadow: 0px 0px 7px 2px rgba(87, 87, 87, 0.609);
        cursor: pointer;
        @media (max-width: 760px){
            width: 80%;
        }
    }
    &__email {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        & img {
            object-fit: cover;
            height: 100%;
        }
    }
}

.order-call__tel-div._grey::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: url(../img/index/grey-tell.png) 0 0 / cover no-repeat;
}
.order-call__tel-div._green::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: url(../img/index/green-tell.png) 0 0 / cover no-repeat;
}

.anime-meil {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.701);
    // .anime-meil__body
    &__body {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // .anime-meil__box
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__text {
        font-family: "Russo";
        font-size: 17px;
        letter-spacing: 1.2px;
        color: #fff;
    }
    // .anime-meil__meil
    &__meil {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 100%;
        margin: 0px 0px 20px 0px;
        & img {
            object-fit: cover;
            height: 100%;
            width: 80px;
            animation: anim-mail 2s infinite;
        }
    }
}

@keyframes anim-mail {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }
    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }
    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }
    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }
    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

