@import './variables.scss';
@import './mixin.scss';


//= .header-page-lamps
.header-page-lamps {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    &__title {
    }
    &__filter {
        display: flex;
        align-items: center;

        & span {
            @include text_streach(17, 15, $grey, 400);

            box-shadow: $shadow;

            padding: 5px 15px 5px 30px;

            position: relative;
            &::before {
                content: '';

                position: absolute;
                top: 50%;
                left: 5px;
                transform: translateY(-50%);
                width: 17px;
                height: 17px;

                background: url('/img/icon/filter.png') 0 0 / cover no-repeat;
            }
        }
    }
}

//= .lamps-section
.lamps-section {
    margin: 20px 0px 0px 0px;
    // .lamps-section__body
    &__body {
        position: relative;
        height: 250px;
        &::before {
            content: '';
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;

            background-color: #0000009a;
        }
        @media (max-width: 760px){
            height: 200px;
        }
    }
    // .lamps-section__text
    &__text {
        position: absolute;
        z-index: 3;
        bottom: 10px;
        left: 10px;

        width: 100%;

        padding: 20px;
        @media (max-width: 760px){
            bottom: 0px;
            left: 0px;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    // .lamps-section__title
    &__title {
        @include text_streach(24, 20, #fff, 400, "Russo");
        letter-spacing: 1.5px;
        text-transform: uppercase;

        @media (max-width: 760px){
            text-align: center;
        }
    }
    // .lamps-section__subtitle
    &__lamps {
        width: 150px;
        height: 150px;

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    // .lamps-section__img
    &__img {
        object-fit: cover;
        object-position: top center;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
    }
    // .lamps-section__button
    &__button {
        margin: 20px 0px 0px 0px;
    
        & a {
            background-color: $orange;

            padding: 10px 20px;

            @include text_streach(17, 15, #fff);
        }
    }
}
