@import './variables.scss';
@import './mixin.scss';


$questions-color: #A55809;

._padding40 {
    padding: 0px 0px 20px 0px;
}

.box-questions {
    border: 2px $questions-color solid;
    border-radius: 20px;
    overflow: hidden;
    background-color: $questions-color;
}

.questions {
    // .questions__body
    &__body {
        background-color: $questions-color;
    }
    // .questions__title
    &__title {
        @include text_streach(16, 14, #fff);

        padding: 20px 20px 20px 20px;

        position: relative;

        cursor: pointer;

        & span {
            display: block;
            padding: 0px 40px 0px 0px;
            line-height: 120%;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 20px;
            height: 30px;
            width: 30px;
            background: url(../img/arrow-keys/plus.png) 0 0 / cover no-repeat;
            @media (max-width: 768px){
                height: 23px;
                width: 23px;
            }
        }
        &::after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: #fff;
        }
    }
    // .questions__info
    &__info {
        height: 0px;
        transition:all 0.3s ease;
    }
    // .questions__text
    &__text {
        opacity: 0;
        transition:all 0.3s ease;

        @include text_streach(16, 14, $grey, 400);

        padding: 0px 20px 20px 20px;
    }
}

._questions-white {
    background-color: #fff;
}
._questions-text {
    color: $questions-color; 
}

._after-not::after {
    height: 0;
}




