$brown: #6d4d3a;
$orange: #fe8d1b;
$text: #5b4f3c;
$grey: #2a2b30;

.works-title {
    font-family: "Russo";
    font-size: 24px;
    color: $grey;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 20px 0px 0px 0px;
}