@import './variables.scss';
@import './mixin.scss';


.works-title {
    @include text_streach(20, 17, $grey, 500, "Russo");
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 20px 0px 0px 0px;

}