@import "__null", "__index", "__font", "__header", "__footer","__prace","__works","__gallery","__contacts","__company","__popup-calculator","__questions", "__lamps.scss", "__lamps-panel", "__filter";


$brown : #6d4d3a;
$orange: #fe8d1b;
$text: #5b4f3c;


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}

.relative {
    position: relative;
}

.unselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;           
}
